
.info-row{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: solid gainsboro 1px;
    border-bottom: solid gainsboro 1px;
}
.fullscreen{
    height: 100vh;
}
.menu-item{
    horiz-align: center;
}
.right-margin{
    margin-left: 20px;
}
#order_filter{
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-selector{
    width: 20em;
}
.updated-block{
    margin-top: 3em;
}